        <footer class="page-footer" style="padding-top: 0">
          <div class="footer-copyright" style="background-color: rgb(242,148,146)">
            <div class="container">
            © 2018 Copyright Pomelolo
            </div>
          </div>
        </footer>
